doctype html
html(lang="en")
    head
        include ../modules/head
    body(data-theme="default")
        include ../modules/header
        include ../modules/content
        include ../modules/demo
        include ../modules/footer
        script(src="/js/script.bundle.js")