extends ../layouts/page

block variables
    - const lang = 'en';

    - const pageTitle = 'Some service';

block append head

block content
    include ../components/content
    include ../components/demo

block controls

