include ../layouts/_mixins

header.header
	.header-content.container
		a.header-logo(href='#' title='Company name')
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.9 25.65" width='100' height='50'><path d="M0,25.65H25.65V0H0ZM20.71,10.36H15.29V4.94h5.42ZM4.94,4.94h5.42V15.29H20.71v5.42H4.94ZM42.35,0A12.83,12.83,0,1,0,55.18,12.83,12.82,12.82,0,0,0,42.35,0Zm0,20.71a7.89,7.89,0,1,1,7.89-7.88A7.89,7.89,0,0,1,42.35,20.71ZM101.07,0A12.83,12.83,0,1,0,113.9,12.83h0A12.85,12.85,0,0,0,101.07,0Zm0,20.71A7.89,7.89,0,1,1,109,12.82h0A7.89,7.89,0,0,1,101.07,20.71ZM71.71,0A12.83,12.83,0,1,0,84.54,12.83h0A12.85,12.85,0,0,0,71.71,0Zm0,20.71A7.89,7.89,0,1,1,79.2,10.36H71.71v4.93H79.2A7.9,7.9,0,0,1,71.71,20.71Z" fill="#394149"/></svg>
		nav.nav.header-nav
			+burger
			+menuItems('header')

.container
	h1 This is template
	h2 This is template
	h3 This is template
	h4 This is template
	h5 This is template
	p This is template
	p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
	p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

.container
	button I'm button
	a(href='#') I'm a Link

.container
	ul.grid-list
		-
			let gridContent = [
				{title : 'Some title', imgClass : 'grid-item__img', imgName : 'placeholder', imgAlt : 'Some alt', desc : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
				{title: 'Some title', imgClass : 'grid-item__img', imgName: 'bridge', imgAlt: 'Some alt', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
				{title: 'Some title', imgClass : 'grid-item__img', imgName: 'placeholder', imgAlt: 'Some alt', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
				{title: 'Some title', imgClass : 'grid-item__img', imgName: 'bridge', imgAlt: 'Some alt', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
				{title: 'Some title', imgClass : 'grid-item__img', imgName: 'bridge', imgAlt: 'Some alt', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
				{title: 'Some title', imgClass : 'grid-item__img', imgName: 'bridge', imgAlt: 'Some alt', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'},
			]
		each items in gridContent
			li.grid-item
				p.grid-item__title= items.title
				+picture(items.imgClass, items.imgName, items.imgAlt)
				p.grid-item__desc= items.desc

.container
	form
		fieldset
			legend Form Title
			p
				input(id='text' type='text' placeholder='User name' name='user-name')
				label.visually-hidden(for='text') Your contact name
			p
				input(id='email' placeholder='Email' name='user-mail')
				label.visually-hidden(for='email') Your contact e-mail
			p
				textarea(id='comment' type='text' placeholder='Your comment message' name='user-comment')
				label.visually-hidden(for='comment')
			button(type='submit') Submit

.container
	+socialLinks

section.overlay